Matlab-code implementing the Gaussian Process based methods for estimating orientation preference maps described in Macke et al, NIPS 2009 and Macke at al, 2010, under revision. The package contains code for <p>

(1) Generating synthetic orientation preference maps and noisy imaging measurements<br>
(2) Estimating orientation preference maps using Gaussian process methods or vector averaging<br>
(3) Sampling from the posterior distribution over maps<p><br>

While the current implementation is useful for orientation preference maps only, it should be straightforward to adapt it for the estimation of other cortical maps as well. <p><br>


INSTALLATION<br>
<hr>
To install the code, just unzip the file gpmaps.zip and add all the folders originating from it to your matlab path. Then, run the script DemoScript.m, which contains a brief tutorial on how to use the methods.<p><br>

The code is published under the GNU Gneral Public License<br>
(<a href="http://www.opensource.org/licenses/gpl-3.0.html">http://www.opensource.org/licenses/gpl-3.0.html</a>).<br>

The code is provided "as is" and has no warranty whatsoever.<br>
